pre {
  background: #2b2b2b;
  padding: 20px;
  overflow: hidden;
  color: #fff;
  margin: 50px 0;
  border-radius: 10px;
}

table {
  background: #99999940;
  padding: 25px;
  border-radius: 5px;
  margin: 25px 0;
}

body {
  overflow: hidden;
  height: 100vh;
  width:100vw;
  margin:0;
  padding:0;
}

.invisibleInput {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
